body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-142px;
  width:2751px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1094_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u1094 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:155px;
  width:241px;
  height:500px;
  display:flex;
}
#u1094 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1094_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1095_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u1095 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:155px;
  width:241px;
  height:500px;
  display:flex;
}
#u1095 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1095_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1096_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u1096 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:155px;
  width:241px;
  height:500px;
  display:flex;
}
#u1096 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1096_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u1097 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:155px;
  width:241px;
  height:500px;
  display:flex;
}
#u1097 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1097_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1098_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u1098 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:755px;
  width:241px;
  height:500px;
  display:flex;
}
#u1098 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1098_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1099_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u1099 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:755px;
  width:241px;
  height:500px;
  display:flex;
}
#u1099 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1099_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u1100 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:755px;
  width:241px;
  height:500px;
  display:flex;
}
#u1100 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u1101 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:755px;
  width:241px;
  height:500px;
  display:flex;
}
#u1101 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1101_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u1102 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:1355px;
  width:241px;
  height:500px;
  display:flex;
}
#u1102 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u1103 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:1355px;
  width:241px;
  height:500px;
  display:flex;
}
#u1103 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1103_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u1104 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:1355px;
  width:241px;
  height:500px;
  display:flex;
}
#u1104 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1104_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u1105 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:1355px;
  width:241px;
  height:500px;
  display:flex;
}
#u1105 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u1106 {
  border-width:0px;
  position:absolute;
  left:1146px;
  top:1355px;
  width:241px;
  height:500px;
  display:flex;
}
#u1106 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u1107 {
  border-width:0px;
  position:absolute;
  left:1397px;
  top:1355px;
  width:241px;
  height:500px;
  display:flex;
}
#u1107 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u1108 {
  border-width:0px;
  position:absolute;
  left:1648px;
  top:1355px;
  width:241px;
  height:500px;
  display:flex;
}
#u1108 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u1109 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:1955px;
  width:241px;
  height:500px;
  display:flex;
}
#u1109 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1109_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u1110 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:1955px;
  width:241px;
  height:500px;
  display:flex;
}
#u1110 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1110_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u1111 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:1955px;
  width:241px;
  height:500px;
  display:flex;
}
#u1111 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1111_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u1112 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:1955px;
  width:241px;
  height:500px;
  display:flex;
}
#u1112 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1112_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u1113 {
  border-width:0px;
  position:absolute;
  left:1146px;
  top:1955px;
  width:241px;
  height:500px;
  display:flex;
}
#u1113 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1113_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u1114 {
  border-width:0px;
  position:absolute;
  left:1397px;
  top:1955px;
  width:241px;
  height:500px;
  display:flex;
}
#u1114 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1114_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u1115 {
  border-width:0px;
  position:absolute;
  left:1648px;
  top:1955px;
  width:241px;
  height:500px;
  display:flex;
}
#u1115 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1115_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u1116 {
  border-width:0px;
  position:absolute;
  left:1899px;
  top:1955px;
  width:241px;
  height:500px;
  display:flex;
}
#u1116 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1116_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u1117 {
  border-width:0px;
  position:absolute;
  left:2150px;
  top:1955px;
  width:241px;
  height:500px;
  display:flex;
}
#u1117 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u1118 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:2555px;
  width:241px;
  height:500px;
  display:flex;
}
#u1118 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1118_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  height:35px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1119 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:100px;
  width:743px;
  height:35px;
  display:flex;
  font-size:18px;
}
#u1119 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1119_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:35px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1120 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:100px;
  width:241px;
  height:35px;
  display:flex;
  font-size:16px;
}
#u1120 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1120_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:35px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1121 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:700px;
  width:241px;
  height:35px;
  display:flex;
  font-size:18px;
}
#u1121 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1121_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:35px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1122 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:700px;
  width:241px;
  height:35px;
  display:flex;
  font-size:18px;
}
#u1122 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1122_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:35px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1123 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:700px;
  width:492px;
  height:35px;
  display:flex;
  font-size:18px;
}
#u1123 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1123_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(244, 77, 178, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
}
#u1124 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:1208px;
  width:155px;
  height:47px;
  display:flex;
  opacity:0.7;
  font-size:8px;
}
#u1124 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(244, 77, 178, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
}
#u1125 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:911px;
  width:195px;
  height:47px;
  display:flex;
  opacity:0.7;
  font-size:8px;
}
#u1125 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1125_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1126_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-11px;
  width:177px;
  height:25px;
}
#u1126p000 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-3px;
  width:174px;
  height:10px;
  -webkit-transform:rotate(0.173229342195434deg);
  -moz-transform:rotate(0.173229342195434deg);
  -ms-transform:rotate(0.173229342195434deg);
  transform:rotate(0.173229342195434deg);
}
#u1126p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:10px;
}
#u1126p001 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-1px;
  width:6px;
  height:6px;
  -webkit-transform:rotate(45.1732293421954deg);
  -moz-transform:rotate(45.1732293421954deg);
  -ms-transform:rotate(45.1732293421954deg);
  transform:rotate(45.1732293421954deg);
}
#u1126p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1126p002 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:-12px;
  width:28px;
  height:26px;
  -webkit-transform:rotate(180.173229342195deg);
  -moz-transform:rotate(180.173229342195deg);
  -ms-transform:rotate(180.173229342195deg);
  transform:rotate(180.173229342195deg);
}
#u1126p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:26px;
}
#u1126 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:1159px;
  width:164px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(-45.1732293421954deg);
  -moz-transform:rotate(-45.1732293421954deg);
  -ms-transform:rotate(-45.1732293421954deg);
  transform:rotate(-45.1732293421954deg);
}
#u1126 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1126_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1127_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-11px;
  width:111px;
  height:25px;
}
#u1127p000 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:106px;
  height:10px;
  -webkit-transform:rotate(0.425386567902613deg);
  -moz-transform:rotate(0.425386567902613deg);
  -ms-transform:rotate(0.425386567902613deg);
  transform:rotate(0.425386567902613deg);
}
#u1127p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:10px;
}
#u1127p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:6px;
  height:6px;
  -webkit-transform:rotate(-27.5746134320974deg);
  -moz-transform:rotate(-27.5746134320974deg);
  -ms-transform:rotate(-27.5746134320974deg);
  transform:rotate(-27.5746134320974deg);
}
#u1127p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1127p002 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-11px;
  width:28px;
  height:26px;
  -webkit-transform:rotate(-179.574613432097deg);
  -moz-transform:rotate(-179.574613432097deg);
  -ms-transform:rotate(-179.574613432097deg);
  transform:rotate(-179.574613432097deg);
}
#u1127p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:26px;
}
#u1127 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:962px;
  width:98px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(27.5746134320974deg);
  -moz-transform:rotate(27.5746134320974deg);
  -ms-transform:rotate(27.5746134320974deg);
  transform:rotate(27.5746134320974deg);
}
#u1127 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1127_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(244, 77, 178, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#F44DB2;
}
#u1128 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:1083px;
  width:117px;
  height:47px;
  display:flex;
  opacity:0.7;
  font-size:14px;
  color:#F44DB2;
}
#u1128 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1128_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(244, 77, 178, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#F44DB2;
}
#u1129 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:799px;
  width:117px;
  height:47px;
  display:flex;
  opacity:0.7;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#F44DB2;
}
#u1129 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:35px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1130 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:1300px;
  width:241px;
  height:35px;
  display:flex;
  font-size:18px;
}
#u1130 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(244, 77, 178, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#F44DB2;
}
#u1131 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:1607px;
  width:177px;
  height:47px;
  display:flex;
  opacity:0.7;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#F44DB2;
}
#u1131 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:35px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1132 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:1300px;
  width:241px;
  height:35px;
  display:flex;
  font-size:18px;
}
#u1132 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:35px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1133 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:1300px;
  width:241px;
  height:35px;
  display:flex;
  font-size:18px;
}
#u1133 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:994px;
  height:35px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1134 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:1300px;
  width:994px;
  height:35px;
  display:flex;
  font-size:18px;
}
#u1134 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  height:35px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1135 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:1890px;
  width:743px;
  height:35px;
  display:flex;
  font-size:18px;
}
#u1135 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:35px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1136 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:1890px;
  width:241px;
  height:35px;
  display:flex;
  font-size:18px;
}
#u1136 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:35px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1137 {
  border-width:0px;
  position:absolute;
  left:1146px;
  top:1890px;
  width:241px;
  height:35px;
  display:flex;
  font-size:18px;
}
#u1137 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1137_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:35px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1138 {
  border-width:0px;
  position:absolute;
  left:1397px;
  top:1890px;
  width:241px;
  height:35px;
  display:flex;
  font-size:18px;
}
#u1138 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1138_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:35px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1139 {
  border-width:0px;
  position:absolute;
  left:1648px;
  top:1890px;
  width:241px;
  height:35px;
  display:flex;
  font-size:18px;
}
#u1139 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1139_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:35px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1140 {
  border-width:0px;
  position:absolute;
  left:1899px;
  top:1890px;
  width:241px;
  height:35px;
  display:flex;
  font-size:18px;
}
#u1140 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1140_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:35px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1141 {
  border-width:0px;
  position:absolute;
  left:2150px;
  top:1890px;
  width:241px;
  height:35px;
  display:flex;
  font-size:18px;
}
#u1141 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u1142 {
  border-width:0px;
  position:absolute;
  left:2401px;
  top:1955px;
  width:241px;
  height:500px;
  display:flex;
}
#u1142 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:35px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1143 {
  border-width:0px;
  position:absolute;
  left:2401px;
  top:1890px;
  width:241px;
  height:35px;
  display:flex;
  font-size:18px;
}
#u1143 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u1144 {
  border-width:0px;
  position:absolute;
  left:2652px;
  top:1955px;
  width:241px;
  height:500px;
  display:flex;
}
#u1144 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:35px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1145 {
  border-width:0px;
  position:absolute;
  left:2652px;
  top:1890px;
  width:241px;
  height:35px;
  display:flex;
  font-size:18px;
}
#u1145 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u1146 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:2555px;
  width:241px;
  height:500px;
  display:flex;
}
#u1146 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u1147 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:2555px;
  width:241px;
  height:500px;
  display:flex;
}
#u1147 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:35px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1148 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:2490px;
  width:241px;
  height:35px;
  display:flex;
  font-size:18px;
}
#u1148 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:35px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1149 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:2490px;
  width:241px;
  height:35px;
  display:flex;
  font-size:18px;
}
#u1149 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1149_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(244, 77, 178, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
}
#u1150 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:2727px;
  width:220px;
  height:36px;
  display:flex;
  opacity:0.7;
  font-size:8px;
}
#u1150 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1150_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1151_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-11px;
  width:210px;
  height:25px;
}
#u1151p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:202px;
  height:6px;
  -webkit-transform:rotate(0.0335925995841251deg);
  -moz-transform:rotate(0.0335925995841251deg);
  -ms-transform:rotate(0.0335925995841251deg);
  transform:rotate(0.0335925995841251deg);
}
#u1151p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:6px;
}
#u1151p001 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:0px;
  width:6px;
  height:6px;
  -webkit-transform:rotate(38.0335925995841deg);
  -moz-transform:rotate(38.0335925995841deg);
  -ms-transform:rotate(38.0335925995841deg);
  transform:rotate(38.0335925995841deg);
}
#u1151p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1151p002 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:-11px;
  width:28px;
  height:26px;
  -webkit-transform:rotate(180.033592599584deg);
  -moz-transform:rotate(180.033592599584deg);
  -ms-transform:rotate(180.033592599584deg);
  transform:rotate(180.033592599584deg);
}
#u1151p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:26px;
}
#u1151 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:2666px;
  width:197px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(-38.0335925995841deg);
  -moz-transform:rotate(-38.0335925995841deg);
  -ms-transform:rotate(-38.0335925995841deg);
  transform:rotate(-38.0335925995841deg);
}
#u1151 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1151_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:34px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(244, 77, 178, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
}
#u1152 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:2769px;
  width:220px;
  height:34px;
  display:flex;
  opacity:0.7;
  font-size:8px;
}
#u1152 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1152_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1153_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-11px;
  width:381px;
  height:25px;
}
#u1153p000 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-6px;
  width:380px;
  height:14px;
  -webkit-transform:rotate(0.464111937736803deg);
  -moz-transform:rotate(0.464111937736803deg);
  -ms-transform:rotate(0.464111937736803deg);
  transform:rotate(0.464111937736803deg);
}
#u1153p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:14px;
}
#u1153p001 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-1px;
  width:6px;
  height:6px;
  -webkit-transform:rotate(32.4641119377368deg);
  -moz-transform:rotate(32.4641119377368deg);
  -ms-transform:rotate(32.4641119377368deg);
  transform:rotate(32.4641119377368deg);
}
#u1153p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1153p002 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:-13px;
  width:30px;
  height:28px;
  -webkit-transform:rotate(180.464111937737deg);
  -moz-transform:rotate(180.464111937737deg);
  -ms-transform:rotate(180.464111937737deg);
  transform:rotate(180.464111937737deg);
}
#u1153p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u1153 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:2696px;
  width:368px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(-32.4641119377368deg);
  -moz-transform:rotate(-32.4641119377368deg);
  -ms-transform:rotate(-32.4641119377368deg);
  transform:rotate(-32.4641119377368deg);
}
#u1153 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1153_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(244, 77, 178, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#F44DB2;
}
#u1154 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:2942px;
  width:177px;
  height:47px;
  display:flex;
  opacity:0.7;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#F44DB2;
}
#u1154 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1154_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:35px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1155 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:2490px;
  width:492px;
  height:35px;
  display:flex;
  font-size:18px;
}
#u1155 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1155_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:231px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(244, 77, 178, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1156 {
  border-width:0px;
  position:absolute;
  left:1216px;
  top:155px;
  width:257px;
  height:231px;
  display:flex;
  opacity:0.7;
  text-align:left;
}
#u1156 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1156_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u1157 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:2555px;
  width:241px;
  height:500px;
  display:flex;
}
#u1157 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1157_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(244, 77, 178, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#F44DB2;
}
#u1158 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:2942px;
  width:335px;
  height:47px;
  display:flex;
  opacity:0.7;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#F44DB2;
}
#u1158 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(244, 77, 178, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
}
#u1159 {
  border-width:0px;
  position:absolute;
  left:959px;
  top:480px;
  width:138px;
  height:33px;
  display:flex;
  opacity:0.7;
  font-size:8px;
}
#u1159 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:29px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(244, 77, 178, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#F44DB2;
}
#u1160 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:1041px;
  width:178px;
  height:29px;
  display:flex;
  opacity:0.7;
  font-size:11px;
  color:#F44DB2;
}
#u1160 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1160_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:69px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(244, 77, 178, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
}
#u1161 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:1528px;
  width:168px;
  height:69px;
  display:flex;
  opacity:0.7;
  font-size:8px;
}
#u1161 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1161_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1162_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-11px;
  width:209px;
  height:25px;
}
#u1162p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:200px;
  height:6px;
  -webkit-transform:rotate(-0.120261898548009deg);
  -moz-transform:rotate(-0.120261898548009deg);
  -ms-transform:rotate(-0.120261898548009deg);
  transform:rotate(-0.120261898548009deg);
}
#u1162p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:6px;
}
#u1162p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:6px;
  height:6px;
  -webkit-transform:rotate(-90.120261898548deg);
  -moz-transform:rotate(-90.120261898548deg);
  -ms-transform:rotate(-90.120261898548deg);
  transform:rotate(-90.120261898548deg);
}
#u1162p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1162p002 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:-13px;
  width:28px;
  height:28px;
  -webkit-transform:rotate(-180.120261898548deg);
  -moz-transform:rotate(-180.120261898548deg);
  -ms-transform:rotate(-180.120261898548deg);
  transform:rotate(-180.120261898548deg);
}
#u1162p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u1162 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:1662px;
  width:196px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(90.120261898548deg);
  -moz-transform:rotate(90.120261898548deg);
  -ms-transform:rotate(90.120261898548deg);
  transform:rotate(90.120261898548deg);
}
#u1162 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(244, 77, 178, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#F44DB2;
}
#u1163 {
  border-width:0px;
  position:absolute;
  left:959px;
  top:2171px;
  width:168px;
  height:30px;
  display:flex;
  opacity:0.7;
  font-size:11px;
  color:#F44DB2;
}
#u1163 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:34px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(244, 77, 178, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
}
#u1164 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:2078px;
  width:55px;
  height:34px;
  display:flex;
  opacity:0.7;
  font-size:8px;
}
#u1164 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1165_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:98px;
  height:22px;
}
#u1165p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-1px;
  width:92px;
  height:4px;
  -webkit-transform:rotate(-0.140762322143441deg);
  -moz-transform:rotate(-0.140762322143441deg);
  -ms-transform:rotate(-0.140762322143441deg);
  transform:rotate(-0.140762322143441deg);
}
#u1165p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:4px;
}
#u1165p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:4px;
  height:4px;
  -webkit-transform:rotate(-25.1407623221434deg);
  -moz-transform:rotate(-25.1407623221434deg);
  -ms-transform:rotate(-25.1407623221434deg);
  transform:rotate(-25.1407623221434deg);
}
#u1165p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u1165p002 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:-11px;
  width:26px;
  height:24px;
  -webkit-transform:rotate(-180.140762322143deg);
  -moz-transform:rotate(-180.140762322143deg);
  -ms-transform:rotate(-180.140762322143deg);
  transform:rotate(-180.140762322143deg);
}
#u1165p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
}
#u1165 {
  border-width:0px;
  position:absolute;
  left:1107px;
  top:2117px;
  width:87px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(25.1407623221434deg);
  -moz-transform:rotate(25.1407623221434deg);
  -ms-transform:rotate(25.1407623221434deg);
  transform:rotate(25.1407623221434deg);
}
#u1165 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1165_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(244, 77, 178, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#F44DB2;
}
#u1166 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:2044px;
  width:150px;
  height:30px;
  display:flex;
  opacity:0.7;
  font-size:11px;
  color:#F44DB2;
}
#u1166 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1166_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(244, 77, 178, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#F44DB2;
}
#u1167 {
  border-width:0px;
  position:absolute;
  left:953px;
  top:2646px;
  width:183px;
  height:22px;
  display:flex;
  opacity:0.7;
  font-size:11px;
  color:#F44DB2;
}
#u1167 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(244, 77, 178, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#F44DB2;
}
#u1168 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:2805px;
  width:177px;
  height:47px;
  display:flex;
  opacity:0.7;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#F44DB2;
}
#u1168 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1168_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
